# registry=https://nexus.devops.jive.com/repository/npm-all/
# @ucc:registry=https://nexus.devops.jive.com/repository/npm-all/
# @jive:registry=https://nexus.devops.jive.com/repository/npm-all/
# @getgo:registry=https://artifactory.prodwest.citrixsaassbe.net/artifactory/api/npm/public-npm/
# save-exact=true
# git-tag-version=false
# package-lock=true
# message=chore(release): %s
# legacy-peer-deps=true
@getgo:registry=https://artifactory.prodwest.citrixsaassbe.net/artifactory/api/npm/public-npm
@goto:registry=https://artifactory.prodwest.citrixsaassbe.net/artifactory/api/npm/public-npm
registry=https://artifactory.prodwest.citrixsaassbe.net/artifactory/api/npm/public-npm
legacy-peer-deps=true